.HeaderContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    z-index: 1;
    background-color: white;
}

.LogoSide {
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.Name {
    font-weight: bolder;
    font-size: x-large;
}

.Slash {
    font-size: large;
    font-weight: bolder;
    margin-left: 10px;
    padding-top: 5px;
}


.Title {
    margin-left: 10px;
    padding-top: 5px;
}

.NavBar {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-right: 50px;
}

.NavBar a {
    margin: 10px;
    text-decoration: none;
    font-size: 18pt;
    font-weight: bold;
}

.NavBar a:visited {
    text-decoration: none;
    color: black;
}

.NavBar a:hover {
    color: var(--accent-color);
}